@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --branco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --branco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong {
  hyphens: auto;
  font-weight: inherit;
  font-size: inherit;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background-color: var(--blanco);
  color: var(--negro);
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background: #F5F5F5;
  background-image: url(../img/bernard-hermant-KqOLr8OiQLU-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.header .nav { /*quando o botão não estiver ativo */
  width: 100%;
  /* display: none;*/
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 25%;
}
.header .nav .activo { /*quando o botão estiver ativo */
  /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
  /*display: block;*/
  height: 50vh;
  pointer-events: auto;
}
.header .nav .logo {
  display: flex;
}
.header .nav .ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.5s ease;
}
.header .nav .ul .a {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  transition: all 0.5s ease-in-out;
}
.header .nav .ul .a:hover {
  color: #69B99D;
  transition: all 0.5s ease-in-out;
}
.header .nav .ul .a:hover::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #69B99D;
  border-radius: 50%;
  margin-top: 1em;
}
.header .nav .buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
}
.header .nav .buttons .btn {
  cursor: pointer;
  padding: 16px 48px 15px;
  color: #69B99D;
  border: solid 1px #F5F5F5;
  transition: all 0.5s ease;
}
.header .nav .buttons .btn:hover {
  border: solid 1px #69B99D;
}
.header .nav .buttons .-verde {
  background: #69B99D;
  color: white;
}
.header .nav .buttons .-verde:hover {
  background-color: #F5F5F5;
  color: #69B99D;
}
.header .text {
  width: 90%;
  max-width: 120rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.825rem;
  margin-top: 6%;
}
.header .text .title {
  width: 50%;
}
.header .text .title .h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  /* or 116% */
  letter-spacing: 0.0025em;
  /* Tittle */
  color: #1F2744;
}
.header .text .title .p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.0025em;
  color: #73788C;
}
.header .epc {
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
}
.header .epc .buttons {
  display: flex;
  flex-flow: row nowrap;
}
.header .epc .buttons .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  background: #FEFEFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.0025em;
  color: #69B99D;
}
.header .epc .search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  background: #FEFEFF;
  /* Shadow */
  gap: 50px;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}
.header .epc .search .options {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  padding: 0 1em;
}
.header .epc .search .options h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  letter-spacing: 0.0025em;
  /* Tittle */
  color: #1F2744;
}

.navigation {
  width: 90%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .button {
  display: none;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  padding: 16px 48px 15px;
  color: #69B99D;
  border: solid 1px #F5F5F5;
  transition: all 0.5s ease;
}
.btn:hover {
  border: solid 1px #69B99D;
  box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}

.-verde {
  background: #69B99D;
  color: white;
}
.-verde:hover {
  background-color: #F5F5F5;
  color: #69B99D;
}

.-inverso {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: solid 1px #69B99D;
  padding: 12px auto;
  gap: 8px;
}
.-inverso:hover {
  background: #69B99D;
  color: white;
  border: solid 1px #69B99D;
  box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
}

.section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.section .container {
  width: 90%;
  max-width: 120rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.section .container .t {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 3em;
}
.section .container .t .sub {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #054457;
}
.section .container .t .subsection {
  width: 100%;
  max-width: 120rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.section .container .t .subsection .p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #73788C;
}
.section .container .hotels {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
}
.section .container .hotels .hotel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid #DEDCDA;
}
.section .container .hotels .hotel .cta {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.section .container .hotels .hotel .cta .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}
.section .container .hotels .hotel .cta .p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.section .container .hotels .hotel .cta .values {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.625rem;
}
.section .container .hotels .hotel .cta .values .value {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.0025em;
  color: #69B99D;
}
.section .container .hotels .hotel .cta .values .frame {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 8px;
  background: #F5F5F5;
}
.section .container .hotels .people {
  max-width: 376px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.section .container .hotels .people .values {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.section .container .hotels .people .values img {
  width: auto;
}
.section .container .hotels .people .values .cargo {
  display: flex;
  flex-flow: column nowrap;
}
.section .container .hotels .people .cta {
  gap: 20px;
}
.section .container .hotels .people .cta .p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.0025em;
  /* Tittle */
  color: #1F2744;
}
.section .container .hotels .people .cta .values .cargo h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.5px;
  color: #0B2E29;
}
.section .container .hotels .people .cta .values .cargo p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  letter-spacing: 0.5px;
  color: #767676;
}
.section .container .content {
  padding: 1em;
}
.section .container .content .cards {
  display: flex;
  gap: 3.2rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.section .container .content .cards .card {
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  gap: 1rem;
  padding: 2.4rem;
  text-align: left;
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}
.section .container .content .cards .card .h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height, or 136% */
  letter-spacing: 0.5px;
  color: #054457;
}
.section .container .content .cards .card .p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.5px;
  color: #73788C;
}

.discover {
  padding: 3em 0 3em 0;
}

.advante {
  padding: 3em 0 3em 0;
  background: #F5F5F5;
}

.about {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 10em 0 10em 0;
}
.about .container {
  width: 90%;
  max-width: 120rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 5.25rem;
}
.about .container .rectangle {
  width: 609px;
  background-color: #1F2744;
  background-image: url(../img/Rectangle\ 230.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.about .container .rectangle .trusted {
  width: 174px;
  left: 220px;
  top: 2846px;
  padding: 1em;
  background: #FEFEFF;
  /* Shadow */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -90px;
  right: 6rem;
  left: -6rem;
}
.about .container .rectangle .trusted .relative {
  position: relative;
  top: -30px;
}
.about .container .rectangle .trusted .d {
  width: 110px;
  gap: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.about .container .rectangle .trusted .d h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  /* identical to box height, or 111% */
  letter-spacing: 0.0025em;
  color: #054457;
}
.about .container .rectangle .trusted .d p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.about .container .rectangle .trusted .d .pp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.0025em;
  color: #054457;
}
.about .container .rectangle .dados {
  width: 90%;
  padding: 12px 32px;
  display: flex;
  flex-flow: row nowrap;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  position: relative;
  bottom: 0;
  left: 30px;
}
.about .container .rectangle .dados .apartmen {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}
.about .container .rectangle .dados .apartmen h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height, or 121% */
  letter-spacing: 0.0025em;
  color: #054457;
}
.about .container .rectangle .dados .apartmen p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.0025em;
  color: #A6A6A6;
}
.about .container .contain {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.about .container .contain .content {
  width: 85%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 50px;
  padding: 0;
}
.about .container .contain .content h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */
  letter-spacing: 0.5px;
  color: #054457;
}
.about .container .contain .content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 0.0025em;
  color: #73788C;
}

.customer {
  padding: 3em 0 3em 0;
}

.tverde {
  padding: 12px 24px;
  gap: 0.625rem;
  background: #F8F9FE;
  color: #69B99D;
}

.footer {
  width: 100%;
  height: 393px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 1em;
}
.footer .wrapper {
  width: 90%;
  max-width: 120rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .wrapper .container {
  max-width: 351px;
  gap: 16px;
  display: flex;
  flex-flow: column nowrap;
}
.footer .wrapper .container .ul {
  gap: 16px;
  display: flex;
  flex-flow: column nowrap;
}
.footer .wrapper .container .ul .li .a {
  transition: all 0.5s ease-in-out;
}
.footer .wrapper .container .ul .li .a:hover {
  color: #0B2E29;
}
.footer .wrapper .container .newsletter {
  display: flex;
  flex-flow: row nowrap;
}
.footer .wrapper .container .newsletter .input {
  background-color: white;
}
.footer .wrapper .container .newsletter .input:focus-visible {
  border-color: #69B99D;
}
.footer .wrapper .container .newsletter .btn {
  cursor: pointer;
  padding: 16px 28px 15px;
  color: #69B99D;
  border: solid 1px #F5F5F5;
  transition: all 0.5s ease;
}
.footer .wrapper .container .newsletter .btn:hover {
  border: solid 1px #69B99D;
}
.footer .wrapper .container .newsletter .-verde {
  background: #69B99D;
  color: white;
}
.footer .wrapper .container .newsletter .-verde:hover {
  background-color: #F5F5F5;
  color: #69B99D;
}
.footer .wrapper .container .social {
  display: flex;
  flex-flow: row nowrap;
}
.footer .wrapper .tit {
  color: #0B2E29;
}

@media screen and (max-width: 1000px) {
  .header .nav.activo { /*quando o botão estiver ativo */
    /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
    /*display: block;*/
    height: 90vh;
    pointer-events: auto;
  }
  .header .nav.activo .ul {
    flex-direction: column;
  }
  .header .li {
    margin: 1em 0;
  }
  .navigation .button {
    display: block;
    cursor: pointer;
  }
  .nav {
    height: 0vh;
  }
  .navigation {
    width: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .wrapper {
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .header .nav {
    width: 100%;
    /* display: none; */
    overflow: hidden;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 25%; */
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .header {
    height: auto;
  }
  .header .text .title {
    width: auto;
  }
  .header .epc .search {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1em;
    background: #FEFEFF;
    gap: 50px;
    box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
    flex-direction: column;
  }
  .section .container .t {
    justify-content: space-between;
    gap: 20px;
  }
  .section .container .t .subsection {
    gap: 20px;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .section .container .hotels {
    flex-flow: column nowrap;
  }
  .section .container .content .cards {
    flex-direction: column;
    align-items: center;
  }
  .section .container .content .cards .card {
    padding: 0;
    width: auto;
    align-items: center;
  }
  .about {
    display: none;
  }
  .footer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  .footer .wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer .wrapper .container {
    width: 100%;
    gap: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .footer .wrapper .container .newsletter {
    width: 90%;
  }
  .footer .wrapper .container .newsletter .btn {
    padding: 16px 15px 10px;
  }
}

/*# sourceMappingURL=main.css.map */
