@import 'reset/variaveis' , 'reset/mixins' , 'reset/reset' ,'reset/keyframes';

.header{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background: #F5F5F5;
  background-image: url(../img/bernard-hermant-KqOLr8OiQLU-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  .nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    .navigation{
      width: 90%;
      max-width: 120rem;
      height: 55px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      .logo{
        display: flex;
      }
      .ul{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all .5s ease;
        .a{
          display: flex;
          flex-flow: column-reverse nowrap;
          align-items: center;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          transition: all .5s  ease-in-out;
          &:hover{
            color:#69B99D;
            transition: all .5s  ease-in-out;
            &::before{
              content:"";
              width: 6px;
              height: 6px;
              background: #69B99D;
              border-radius: 50%;
              margin-top: 1em;
            }
          }
        }
      }
      .buttons{
        display: flex;
        flex-flow: row nowrap;
        gap: 30px;
        .btn{
          cursor: pointer;
          padding: 16px 48px 15px;
          color:#69B99D;
          border: solid 1px #F5F5F5;
          transition: all .5s ease;
          &:hover{
            border: solid 1px #69B99D;
          }
        }
        .-verde{
          background: #69B99D;
          color: white;
          &:hover{
            background-color: #F5F5F5;
            color:#69B99D;
          }
        }
      }
    }

  }
  .text{
    width: 90%;
    max-width: 120rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.825rem;
    margin-top: 6%;
    .title{
      width: 50%;
      .h1{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 74px;
        /* or 116% */
  
        letter-spacing: 0.0025em;
  
        /* Tittle */
  
        color: #1F2744;
      }
      .p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
  
        letter-spacing: 0.0025em;
  
        color: #73788C;
      }
    }

  }
  .epc{
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
   
    .buttons{
      display: flex;
      flex-flow: row nowrap;
      .btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 32px;
        gap: 10px;
        background: #FEFEFF;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */

        letter-spacing: 0.0025em;

        color: #69B99D;
      }
    }
    .search{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
      padding: 1em;
      background: #FEFEFF;
      /* Shadow */
      gap: 50px;
      box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
      .options{
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        padding: 0 1em;
        h2{
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          /* identical to box height, or 144% */

          letter-spacing: 0.0025em;

          /* Tittle */

          color: #1F2744;
        }
      }
    }
  }
}
.btn{
  cursor: pointer;
  padding: 16px 48px 15px;
  color:#69B99D;
  border: solid 1px #F5F5F5;
  transition: all .5s ease;
  &:hover{
    border: solid 1px #69B99D;
    box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
  }
}
.-verde{
  background: #69B99D;
  color: white;
  &:hover{
    background-color: #F5F5F5;
    color:#69B99D;
   
  }
}
.-inverso{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: solid 1px #69B99D;
  padding: 12px auto;
  gap: 8px;
  &:hover{
    background: #69B99D;
    color: white;
    border: solid 1px #69B99D;
    box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);
  }
}
.section{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  .container{
    width: 90%;
    max-width: 120rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
    .t{
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      margin-bottom: 3em;
      .sub{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.5px;
        color: #054457;
      }
      .subsection{
        width: 100%;
        max-width: 120rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        .p{
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.0025em;
          color: #73788C;
        }
      }
    }
    .hotels{
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 3.125rem;
      .hotel{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        border: 1px solid #DEDCDA;
        .cta{
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          gap: 1rem;
          .h2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.0025em;
            color: #1F2744;
          }
          .p{
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              letter-spacing: 0.0025em;
              color: #A6A6A6;
          }
          .values{
            display: flex;
            flex-flow: row nowrap;
            gap: .625rem;
            .value{
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 32px;
              letter-spacing: 0.0025em;

              color: #69B99D;
            }
            .frame{
              display: flex;
              flex-flow: row nowrap;

              justify-content: center;
              align-items: center;
              padding: 4px 8px;
              gap: 8px;
              background: #F5F5F5;
            }
          }
        }
      }
      .people{
        max-width: 376px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        .values{
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          img{
            width: auto;
          }
          .cargo{
            display: flex;
            flex-flow: column nowrap;
  
          }
        }
        .cta{
          gap: 20px;
          .p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            letter-spacing: 0.0025em;

            /* Tittle */

            color: #1F2744;
          }
          .values{
            .cargo{
              h3{
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                /* identical to box height, or 162% */

                letter-spacing: 0.5px;

                color: #0B2E29;
              }
              p{
                  font-family: 'Nunito Sans';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 22px;
                  /* identical to box height, or 183% */
      
                  letter-spacing: 0.5px;
      
                  color: #767676;
             
              }
            }
          }
        }
      }
    }
    .content{
      padding: 1em;
      .cards{
        display: flex;
        gap: 3.2rem;
        flex-direction: row;
        flex-wrap: wrap;
        .card{
          display: flex;
          flex-flow: column nowrap;
          width: 30%;
          gap: 1rem;
          padding: 2.4rem;
          text-align: left;
          border: 1px solid var(--brand-light);
          border-radius: 0.6rem;
          .h3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            /* identical to box height, or 136% */

            letter-spacing: 0.5px;

            color: #054457;
          }
          .p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */

            letter-spacing: 0.5px;

            color: #73788C;
          }

        }
      }

    }
  }
}
.discover{
  padding: 3em 0 3em 0;
}
.advante{
 padding: 3em 0 3em 0;
  background: #F5F5F5;
}
.about{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 10em 0 10em 0;
 
  .container{
    width: 90%;
    max-width: 120rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 5.25rem;
    .rectangle{
      width: 609px;
      
      background-color:#1F2744;
      background-image: url(../img/Rectangle\ 230.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 100px;
      .trusted {
        width: 174px;
        left: 220px;
        top: 2846px;
        padding: 1em;
        background: #FEFEFF;
        /* Shadow */
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -90px;
        right: 6rem;
        left: -6rem;
        .relative{
          position: relative;
          top: -30px;
        }
        .d{
          width: 110px;
          gap: 10px;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-between;
          h2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 80px;
            /* identical to box height, or 111% */

            letter-spacing: 0.0025em;

            color: #054457;
          }
          p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */

            letter-spacing: 0.0025em;

            color: #A6A6A6;
          }
          .pp{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */

            letter-spacing: 0.0025em;

            color: #054457;
          }
        }
      }
      .dados{
        width: 90%;
        padding: 12px 32px;
        display: flex;
        flex-flow: row nowrap;
        background-color: #FFFFFF;
        align-items: center;
        justify-content: space-around;
        gap: 32px;
        position: relative;
        bottom: 0;
        left: 30px;
        .apartmen{
          width: 90%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 10px;
          h2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            /* identical to box height, or 121% */

            letter-spacing: 0.0025em;

            color: #054457;
          }
          p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */

            letter-spacing: 0.0025em;

            color: #A6A6A6;

          }
        }
      }
    }
    .contain{
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      
      .content{
        width: 85%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 50px;
        padding: 0;
        h1{
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 56px;
          /* or 117% */

          letter-spacing: 0.5px;

          color: #054457;
        }
        p{
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          /* or 162% */

          letter-spacing: 0.0025em;

          color: #73788C;
        }
      }
    }
  }

}
.customer{
  padding: 3em 0 3em 0;
}
.tverde{
  padding: 12px 24px;
  gap: .625rem;
  background: #F8F9FE;
  color: #69B99D;

}

.footer {
  width: 100%;
  height: 393px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F5F5F5;
  padding: 1em;
  .wrapper {
    width: 90%;
    max-width: 120rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .container{
      max-width:351px;
      gap: 16px;
      display: flex;
      flex-flow: column nowrap;
      .ul{
        gap: 16px;
        display: flex;
        flex-flow: column nowrap;
        .li{
          .a{
            transition: all .5s  ease-in-out;
            &:hover{
              color: #0B2E29;
            }
          }
        }
      }
      .newsletter{
        display: flex;
        flex-flow: row nowrap;
        .input{
          background-color: white;
        }
        .input:focus-visible {
          border-color:  #69B99D;
      }
        .btn{
          cursor: pointer;
          padding: 16px 28px 15px;
          color:#69B99D;
          border: solid 1px #F5F5F5;
          transition: all .5s ease;
          &:hover{
            border: solid 1px #69B99D;
          }
        }
        .-verde{
          background: #69B99D;
          color: white;
          &:hover{
            background-color: #F5F5F5;
            color:#69B99D;
          }
        }
      }
      .social{
        display: flex;
        flex-flow: row nowrap;
      }
    }
    .tit{
      color: #0B2E29;
    }
  }
}
@media(max-width:1000px) {
  .header {
    
    height: auto;
    .text .title {
      width: auto; 
  }
  .epc .search {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1em;
    background: #FEFEFF;
    gap: 50px;
    box-shadow: 35px 35px 65px rgb(146 106 120 / 16%);
    flex-direction: column;
  }
}

  .section .container .t .subsection {
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
  .section .container .hotels {
    flex-flow: column nowrap;
}



.section .container .content .cards {
  flex-direction: column;
  align-items: center;
  .card {
    padding: 0;
    width: auto;
    align-items: center;
  }
}




  .section .container .t {
    justify-content: space-between;
    gap: 20px;
  }
  .section .container .t .subsection {
    gap: 20px;
  }
  .about .container {
    width: 90%;
    max-width: 120rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 5.25rem;
    flex-direction: column;
    .rectangle {
      width: 100%;
      background-color: #1F2744;
      background-image: url(../img/Rectangle\ 230.png);
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 0px;
      .dados{
        width: 100%;
        position: inherit;
      }
  }
    .contain {
      width: auto;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
    }
}


  .footer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    .wrapper {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      .container {
       width: 100%;
        gap: 16px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        .newsletter {
          width: 90%;
        .btn {
          padding: 16px 15px 10px;
        }
      }
    }
  }
  }

  
}