@import 'reset/variaveis' , 'reset/mixins' , 'reset/reset' ,'reset/keyframes';

.header{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background: #F5F5F5;
  background-image: url(../img/bernard-hermant-KqOLr8OiQLU-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  .nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    .navigation{
      width: 90%;
      max-width: 120rem;
      height: 55px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      .logo{
        display: flex;
      }
      .ul{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all .5s ease;
        .a{
          display: flex;
          flex-flow: column-reverse nowrap;
          align-items: center;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          transition: all .5s  ease-in-out;
          &:hover{
            color:#69B99D;
            transition: all .5s  ease-in-out;
            &::before{
              content:"";
              width: 6px;
              height: 6px;
              background: #69B99D;
              border-radius: 50%;
              margin-top: 1em;
            }
          }
        }
      }
      .buttons{
        display: flex;
        flex-flow: row nowrap;
        gap: 30px;
        .btn{
          cursor: pointer;
          padding: 16px 48px 15px;
          color:#69B99D;
          border: solid 1px #F5F5F5;
          transition: all .5s ease;
          &:hover{
            border: solid 1px #69B99D;
          }
        }
        .-verde{
          background: #69B99D;
          color: white;
          &:hover{
            background-color: #F5F5F5;
            color:#69B99D;
          }
        }
      }
    }

  }
  .text{
    width: 90%;
    max-width: 120rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .title{
      width: 50%;
      .h1{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 74px;
        /* or 116% */
  
        letter-spacing: 0.0025em;
  
        /* Tittle */
  
        color: #1F2744;
      }
      .p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
  
        letter-spacing: 0.0025em;
  
        color: #73788C;
      }
    }

  }
  .epc{
    background-color: rgb(0, 255, 221);
    width: 751px;
    height: 180px;
  }
}

.footer {
  width: 100%;
  height: 393px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F5F5F5;
  padding: 1em;
  .wrapper {
    width: 90%;
    max-width: 120rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .container{
      max-width:351px;
      gap: 16px;
      display: flex;
      flex-flow: column nowrap;
      .ul{
        gap: 16px;
        display: flex;
        flex-flow: column nowrap;
        .li{
          .a{
            transition: all .5s  ease-in-out;
            &:hover{
              color: #0B2E29;
            }
          }
        }
      }
      .newsletter{
        display: flex;
        flex-flow: row nowrap;
        .input{
          background-color: white;
        }
        .input:focus-visible {
          border-color:  #69B99D;
      }
        .btn{
          cursor: pointer;
          padding: 16px 28px 15px;
          color:#69B99D;
          border: solid 1px #F5F5F5;
          transition: all .5s ease;
          &:hover{
            border: solid 1px #69B99D;
          }
        }
        .-verde{
          background: #69B99D;
          color: white;
          &:hover{
            background-color: #F5F5F5;
            color:#69B99D;
          }
        }
      }
      .social{
        display: flex;
        flex-flow: row nowrap;
      }
    }
    .tit{
      color: #0B2E29;
    }
  }
}
